[user]
	email = 47264001+celsodias12@users.noreply.github.com
	name = Celso Dias
[init]
	defaultBranch = main
[alias]
  ch = checkout
	chb= checkout -b
  cm = commit
  cmm = commit -m
  br = branch
	brd= branch -d
	brr= branch -m
	a = add
	p = push
	re = reset
	st = stash
	stl = stash list
	sts = stash save
	sta = stash apply
	std = stash drop
	l= log --graph

[includeIf "gitdir:~/Desktop/projects/work/b2/"]
  path = .gitconfig.b2
