[user]
    name = Celso Dias
[init]
    defaultBranch = main
[push]
    autoSetupRemote = true
[alias]
    sw = switch
    swc = switch -c

    p = pull
    por = pull origin

    cm = commit
    cmm = commit -m
    cmmam = commit --amend -m
    incm = cmm 'feat: inital commit'
    acmm = !git a . && git cmm

    br = branch
    brd = branch -d
    brD = branch -D
    brr = branch -m
    brl = branch --list

    re = reset
    delcm = reset --soft HEAD~1
    reh = reset --hard

    st = stash
    stl = stash list
    stc = stash clear
    stw = stash show
    sts = stash save
    sta = stash apply
    std = stash drop
    stp = stash pop
    exst = !git a . && git st && git stash show "stash@{0}" -p >stash.patch && git stp
    imst = apply stash.patch

    lg = log --graph
    lga = log --graph --all
    lgo = log --graph --oneline
    lpo = log --pretty=oneline
    lo = log --oneline

    me = merge
    meq = merge --quit

    re = revert HEAD~1

    pod = push origin -d

    a = add

    cl = clone

    fe = fetch

    feature = "!f() { git swc feature/$1; }; f"
    hotfix = "!f() { git swc hotfix/$1; }; f"

    feat = "!f() { git cmm \"feat: $1\"; }; f"
    fix = "!f() { git cmm \"fix: $1\"; }; f"
    docs = "!f() { git cmm \"docs: $1\"; }; f"
    style = "!f() { git cmm \"style: $1\"; }; f"
    refactor = "!f() { git cmm \"refactor: $1\"; }; f"
    perf = "!f() { git cmm \"perf: $1\"; }; f"
    test = "!f() { git cmm \"test: $1\"; }; f"
    build = "!f() { git cmm \"build: $1\"; }; f"
    ci = "!f() { git cmm \"ci: $1\"; }; f"
    chore = "!f() { git cmm \"chore: $1\"; }; f"
    revert = "!f() { git cmm \"revert: $1\"; }; f"

[includeIf "gitdir:~/"]
  path = ~/.gitconfig-me
